<?xml version='1.0' encoding='utf-8'?>
<widget id="com.codeyourcloud" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CodeYourCloud</name>
    <description>
        A code editor for Google Drive with collaboration and support for over 100 langauges.
    </description>
    <author email="mkaminsky11@gmail.com" href="https://mkaminsky11.github.io">
        Michael Kaminsky
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
