<?xml version='1.0' encoding='utf-8'?>
<widget id="com.codeyourcloud" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Code Your Cloud</name>
    <description>
        A code editor for Google Drive, ported from codeyourcloud.com
    </description>
    <author email="mkaminsky11@gmail.com" href="https://codeyourcloud.com">
        Michael Kaminsky
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />
    <!--gap:plugin name="org.apache.cordova.inappbrowser" /-->
    
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <feature name="InAppBrowser">
      <param name="ios-package" value="CDVInAppBrowser" />
   </feature>
    <feature name="AppPreferences">
        <param name="ios-package" value="AppPreferences"/>
    </feature>
    <feature name="NetworkStatus">
        <param name="ios-package" value="CDVConnection" />
    </feature>
    
    
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="www/res/ios/icon-60.png" width="60" height="60" gap:platform="ios"/>
        <icon src="www/res/ios/icon-60@2x.png" width="120" height="120" gap:platform="ios"/>
        <!-- iPad -->
        <icon src="www/res/ios/icon-76.png" width="76" height="76" gap:platform="ios"/>
        <icon src="www/res/ios/icon-76@2x.png" width="152" height="152" gap:platform="ios"/>
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="www/res/ios/icon-40.png" width="40" height="40" gap:platform="ios"/>
        <icon src="www/res/ios/icon-40@2x.png" width="80" height="80" gap:platform="ios"/>
        <!-- iPhone / iPod Touch -->
        <icon src="www/res/ios/icon.png" width="57" height="57" gap:platform="ios"/>
        <icon src="www/res/ios/icon@2x.png" width="114" height="114" gap:platform="ios"/>
        <!-- iPad -->
        <icon src="www/res/ios/icon-72.png" width="72" height="72" gap:platform="ios"/>
        <icon src="www/res/ios/icon-72@2x.png" width="144" height="144" gap:platform="ios"/>
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="www/res/ios/icon-small.png" width="29" height="29" gap:platform="ios"/>
        <icon src="www/res/ios/icon-small@2x.png" width="58" height="58" gap:platform="ios"/>
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="www/res/ios/icon-50.png" width="50" height="50" gap:platform="ios"/>
        <icon src="www/res/ios/icon-50@2x.png" width="100" height="100" gap:platform="ios"/>
</widget>
