.side-modal{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 15;
}

.side-modal-header{
  height: 60px;
  width: 100%;
  background-color: #4db6ac;
  position: absolute;
  top: 0;
  z-index: 1;
}

.side-modal-header-container{
  width: calc(100%  - 10px);
  height: calc(100% - 10px);
  top: 15px;
  left: 5px;
  position: absolute;
}

.side-modal-content{
  position: absolute;
  bottom: 0px;
  width: calc(100% - 40px);
  height: calc(100% - 100px);
  background-color: #FFF;
  padding: 20px;
}

.side-modal-close{
  background-color: #e84e40;
  color: white;
  position: absolute;
  right: 5px;
  border-radius: 50%;
}

#option-modal .side-modal-content>div{
  height: 40px;
  padding: 5px;
  border-bottom: 1px solid #F2EDED;
}

#option-modal .side-modal-content>div h4{
    float: left;
    margin-top: 9px;
    position: absolute;
    font-size: 20px;
    font-family: 'Roboto-Thin';
}
#option-modal .side-modal-content>div paper-toggle-button{
  float: right;
  margin-top: 10px;
}

.header-input{
  height: 36px;
  margin-top: -5px;
  width: calc(100% - 120px);
  border-radius: 18px;
  outline: medium none;
  border: medium none;
  font-family: "Roboto-Thin";
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  background-color: #26A69A;
  color: white;
}

.header-input::-webkit-input-placeholder {
	color: white;
}
.header-input::-moz-placeholder {
	color: white;
}
.header-input:-moz-placeholder {   /* Older versions of Firefox */
	color: white;
}
.header-input:-ms-input-placeholder {
	color: white;
}


#mode-list, #theme-list{
  height: 100%;
  width: 100%;
}
#lang-modal .side-modal-content{
  overflow-y: scroll;
}
#theme-modal .side-modal-content{
  overflow-y: scroll;
}
.mode-item, .theme-item{
  height: 30px;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  border-bottom: 1px solid #F2EDED;
  font-family: "Roboto-Light";
}
#chat-list, #share-list{
  width: 100%;
  height: calc(100% - 60px);
  position: absolute;
  top: 0;
  overflow-y: scroll;
  background-color: #EEE;
  overflow-x: hidden;
  left: 0;
}
#chat-footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 60px;
  background-color: #26A69A;
  left: 0px;
}
.chat-item, .col-item, .share-item{
  left: 25px;
  margin-top: 10px;
  background-color: #FFF;
  width: calc(100% - 50px);
  position: relative;
}
.header-item{
  height: 50px;
  background-color: #F5F5F5;
}
.header-item h4{
  position: absolute;
  left: 59px;
  margin-top: -34px;
  color: #424242;
  text-overflow: ellipsis;
  overflow:hidden;
}
.message-item{
  width: 100%;
  height: calc(100% - 20px);
  padding: 20px; 
}
.message-item pre{
  margin: 0px;
  word-break: break-all;
  word-wrap: break-word;
  width: calc(100% - 40px);
  white-space: pre-wrap;
  font-family: "Roboto-Thin"; 
}
#chat-text{
  width: calc(100% - 60px); 
  margin-left: 5px; 
  margin-top: 5px; 
  border-radius: 3px; 
  resize: none; 
  padding: 2px; 
  font-size: 15px; 
  font-family: 'Roboto-Light';
  position: absolute; 
  bottom: 5px; 
  border: solid thin #e0e0e0; 
  height: 40px;
  text-shadow: none;
  outline: none;
  -webkit-appearance: none;
}
#send-button{
  position: absolute;
  right: 5px;
  color: white;
  bottom: 9px;
  background-color: #5677FC;
  border-radius: 50%;
}
#col-list, #share-list{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow-y: scroll;
  background-color: #EEE;
  overflow-x: hidden;
  left: 0;
}

#preview-modal .side-modal-content, #lorem-modal .side-modal-content{
  background-color: #EEE;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#preview, #lorem{ 
  width: 100%;
  height: 100%;
  border: solid thin gray;
  background-color: white;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#color-preview{
  height: 50px;
  width: 100%;
  border: solid thin #eee;
  background-color: #646464;
}

#color-modal .side-modal-content>div{
  width: 100%; 
  margin-bottom: 10px;
}

#color-modal paper-slider{
  width: calc(100% - 20px);
}

#red #sliderKnobInner {
  background-color: #ff7043 !important;
}
#red #activeProgress{
  background-color: #ff7043 !important;
}

#green #sliderKnobInner {
  background-color: #42bd41 !important;
}
#green #activeProgress{
  background-color: #42bd41 !important;
}

#color-hex{
  width: calc(100% - 10px);
  height: 40px;
  -webkit-appearance: none;
  border: thin solid #EEE;
  padding: 5px;
  font-size: 18px;
  font-family: "Roboto-Light";
  border-radius: 10px;
  outline: none;
}

.remove-share{
  position:absolute;
  right:4px;
  top:4px;
  border-radius:50%;
  color:white;
  background-color:#e84e40; 
}