.side-modal{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 15;
}

.side-modal-header{
  height: 80px;
  width: 100%;
  background-color: #00acc1;
  position: absolute;
  top: 0;
  z-index: 1;
}

.side-modal-header-container{
  width: calc(100%  - 10px);
  height: calc(100% - 10px);
  top: 15px;
  left: 5px;
  position: absolute;
}

.side-modal-content{
  position: absolute;
  bottom: 0px;
  width: calc(100% - 40px);
  height: calc(100% - 100px);
  background-color: #FFF;
  padding: 20px;
}

.side-modal-content-no-header{
  height: calc(100% - 40px);
}

.fab-bottom{
  background-color: #eefd40;
  color: black;
  position: absolute;
  right: 5px;
  bottom: 10px;
  z-index: 10;
}

.fab-top{
  background-color: #eefd40;
  color: black;
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 10;
}


.side-modal-close{
  z-index: 1;
  background-color: #f36c60;
  color: white;
  position: absolute;
  left: 0px;
  border-radius: 0%;
  border-top-right-radius: 100%;
  bottom: 0px;
  padding-top: 5px;
  padding-right: 5px;
}

.option-modal-div{
  height: 20px;
  padding: 5px;
  border: none;
  width:calc(100% - 10px);
  margin-left: 0px;
  font-family:'Oxygen';
  border: none;
}

.option-modal-div h4{
  float: left;
  margin-top: 0px;
  position: absolute;
  font-size: 13px;
  font-family: 'Oxygen-Light';
  margin-bottom:0;
  color: #323232;
}
.option-modal-div paper-toggle-button{
  float: right;
  margin-top: 0px;
}

.header-input{
  height: 36px;
  margin-top: 10px;
  width: calc(100% - 20px);
  border-radius: 0px;
  outline: medium none;
  border: medium none;
  font-family: "Oxygen-Light";
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  background-color: #00acc1;
  border-bottom: solid thin #eee;
  color: white;
}

.header-input::-webkit-input-placeholder {
	color: white;
}
.header-input::-moz-placeholder {
	color: white;
}
.header-input:-moz-placeholder {   /* Older versions of Firefox */
	color: white;
}
.header-input:-ms-input-placeholder {
	color: white;
}


#mode-list, #theme-list{
  height: 100%;
  width: 100%;
}
#lang-modal .side-modal-content{
  overflow-y: scroll;
}
#theme-modal .side-modal-content{
  overflow-y: scroll;
}
.mode-item, .theme-item{
  height: 30px;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  border-bottom: 1px solid #F2EDED;
  font-family: "Oxygen-Light";
}
#chat-footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 60px; /*to 137*/
  background-color: #00acc1;
  left: 0px;
}
.header-item{
  height: 50px;
  background-color: #F5F5F5;
}
.header-item h4{
  position: absolute;
  left: 59px;
  margin-top: -34px;
  color: #424242;
  text-overflow: ellipsis;
  overflow:hidden;
}
.message-item{
  width: 100%;
  height: calc(100% - 20px);
  padding: 20px; 
}
.message-item pre{
  margin: 0px;
  word-break: break-all;
  word-wrap: break-word;
  width: calc(100% - 40px);
  white-space: pre-wrap;
  font-family: "Oxygen-Thin"; 
}
#col-list{
  height: 100%;
  top: 0px;
}

#preview-modal .side-modal-content, #lorem-modal .side-modal-content{
  background-color: #EEE;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#preview, #lorem{ 
  width: 100%;
  height: calc(100% - 40px);
  margin-top: 20px;
  border: none;
  background-color: white;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#color-preview{
  height: 50px;
  width: 100%;
  border: solid thin #eee;
  background-color: #646464;
  margin-top: 20px;
}

#color-modal .side-modal-content>div{
  width: 100%; 
  margin-bottom: 10px;
}

#color-modal paper-slider{
  width: calc(100% - 20px);
}

#red #sliderKnobInner {
  background-color: #ff7043 !important;
}
#red #activeProgress{
  background-color: #ff7043 !important;
}

#green #sliderKnobInner {
  background-color: #42bd41 !important;
}
#green #activeProgress{
  background-color: #42bd41 !important;
}