@font-face{
	font-family: 'Devicons';
	src: url('devicons.woff') format('woff'), url('devicons.ttf') format('truetype');
}

@font-face{
	font-family: 'Lobster';
	src: url('Lobster.woff') format('woff'), url('Lobster.ttf') format('truetype');
	font-weight: 400;
}

@font-face{
  font-family: 'Oxygen';
  font-weight: 400;
  src: url('oxygen/Oxygen-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Oxygen-Black';
  font-weight: 400;
  src: url('oxygen/Oxygen-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Oxygen-Thin';
  font-weight: 400;
  src: url('oxygen/Oxygen-Light.ttf') format('truetype');
}


@font-face{
  font-family: 'Oxygen-Light';
  font-weight: 400;
  src: url('oxygen/Oxygen-Light.ttf') format('truetype');
}


.Lobster{
	font-family: 'Lobster';
}

